* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --whiteColor: #ffffff;
  --Peach: #e7816b;
  --light_peach: #ffad9b;
  --dark_gray: #333136;
  --blak: #1d1c1e;
}

body {
  font-family: 'Jost', sans-serif;
}

.main-page {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  max-width: 1111px;
  margin: 0 auto;
}

.index_header {
  max-width: 100%;
  height: 24px;
  margin-top: 64px;
  margin-bottom: 4.188rem;
  display: flex;
  justify-content: space-between;
}

.index_header nav ul {
  display: flex;
  align-items: flex-end;
}

.index_header nav ul li {
  list-style: none;
  margin-left: 42px;
}

.index_header nav ul li a {
  text-decoration: none;
  color: var(--dark_gray);
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0.1s;
  transition-timing-function: ease;
}
.index_header nav ul li a:hover {
  text-decoration: underline;
  color: var(--dark_gray);
}

.logo {
  width: 195px;
  height: 24px;
}

.logo img {
  width: 195px;
  height: 24px;
}

.section1 {
  margin: 0 auto;
  background-image: url(../img/Group\ 64\ Copy.png);
  border: 2px solid rgb(255, 255, 255);
  max-width: 1111px;
  height: 640px;
}

.section1 .text_content {
  margin: 145px 0px 0px 95px;
  display: flex;
  flex-direction: column;
}

.text_content h1 {
  width: 33.75rem;
  height: 10.313rem;
  margin-bottom: 0.688rem;
  line-height: 3rem;
  font-size: 3rem;
  font-weight: 500;
  color: var(--whiteColor);
}

.text_content p {
  width: 27.813rem;
  height: 4.875rem;
  margin-bottom: 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: var(--whiteColor);
}

.text_content button {
  width: 152px;
  height: 56px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0.1s;
  transition-timing-function: ease;
}
.text_content button:hover {
  background-color: var(--light_peach);
}

.text_content > button > .button_txt {
  width: 103px;
  height: 22px;
  font-size: 15px;
  font-weight: 500;
  line-height: 21.68px;
  letter-spacing: 1px;
  text-align: left;
}

.section2 {
  margin: 0 auto;
  max-width: 1111px;
  height: 640px;
  margin-top: 10rem;
}

.card1 {
  width: 33.813rem;
  height: 40rem;
}

.card2 {
  width: 33.813rem;
  height: 19.25rem;
}

.card3 {
  width: 33.813rem;
  height: 19.25rem;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 24px;
}

.grid_box_1 {
  grid-column: 1;
  grid-row: 1 / 3;
}

.grid_box_2 {
  grid-column: 2;
  grid-row: 1;
}

.grid_box_3 {
  grid-column: 2;
  grid-row: 2;
}

.foto_text_big_box_for_opasity {
  width: 33.813rem;
  height: 40rem;
  border-radius: 0.875rem;
  cursor: pointer;
  background-color: var(--Peach);
}

.foto_text_big_box_for_opasity > img {
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0.1s;
  transition-timing-function: ease;
}

.foto_text_big_box_for_opasity:hover img {
  opacity: 0.3;
  background-blend-mode: multiply;
}

/* ? */

.foto_text_small_box_for_opasity {
  width: 33.813rem;
  height: 19.25rem;
  border-radius: 0.875rem;
  cursor: pointer;
  background-color: var(--Peach);
}

.foto_text_small_box_for_opasity > img {
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0.1s;
  transition-timing-function: ease;
}

.foto_text_small_box_for_opasity:hover img {
  opacity: 0.3;
  background-blend-mode: multiply;
}
/* /////////////////// */

.foto_text > .text_h2 {
  width: 16.75rem;
  height: 5.875rem;
  position: relative;
  bottom: 22.938rem;
  left: 8.563rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--whiteColor);
}

.foto_text > .text_h2 > h2 {
  width: 16.625rem;
  height: 3rem;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.113rem;
  margin-bottom: 1.5rem;
}

.foto_text > .text_h2 span {
  display: flex;
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.355rem;
  letter-spacing: 0.313rem;
}

.arrow_img img {
  margin-left: 24px;
}

/* ///////////////// */

.foto_text > .text_h2_small_box {
  width: 16.75rem;
  height: 5.875rem;
  position: relative;
  bottom: 12.563rem;
  left: 8.563rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--whiteColor);
}

.foto_text > .text_h2_small_box > h2 {
  width: 400px;
  height: 3rem;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.113rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.foto_text > .text_h2_small_box span {
  display: flex;
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.355rem;
  letter-spacing: 0.313rem;
}

.arrow_img img {
  margin-left: 24px;
}

.section3 {
  margin: 0 auto;
  max-width: 1110px;
  height: 412px;
  margin-top: 10rem;
  display: flex;
}

.section3_box {
  width: 21.875rem;
  height: 25.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.875rem;
}

.section3_box h2 {
  width: 21.875rem;
  height: 1.625rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: 0.313rem;
  text-align: center;
  margin-bottom: 2rem;
}

.section3_box p {
  width: 21.875rem;
  height: 6.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  text-align: center;
}

.footer_home {
  max-width: 1440px;
  height: 393px;
  background-color: var(--blak);
}

.footer_box {
  max-width: 1111px;
  height: 292px;
  position: relative;
  left: 165px;
  top: 72px;
  background-image: url(../img/Group\ 28.png);
}

@media screen and (max-width: 1111px) {
  .index_header {
    padding: 0px 40px 0px 39px;
  }

  .main-page {
    width: 768px;
  }

  .section1 {
    margin: 0 auto;
    background-image: url(../img/Group\ 64-tablet.png);
    border: 2px solid rgb(255, 255, 255);
    max-width: 689px;
    height: 843px;
    display: flex;
    justify-content: center;
  }

  .section1 .text_content {
    margin: 60px 0px 0px 0px;
    display: flex;
    align-items: center;
  }

  .text_content h1 {
    display: flex;
    text-align: center;
  }

  .text_content p {
    display: flex;
    text-align: center;
  }

  .grid_container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 24px;
  }

  .grid_box_1 {
    grid-column: 2;
    grid-row: 1;
  }

  .grid_box_2 {
    grid-column: 2;
    grid-row: 2;
  }

  .grid_box_3 {
    grid-column: 2;
    grid-row: 3;
  }

  .section2_foto {
    display: none;
  }

  .card1 {
    background-image: url(../img/Bitmap-tablet.jpg);
    width: 43.063rem;
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card2 {
    background-image: url(../img/Bitmap2-tablet.jpg);
    width: 43.063rem;
    height: 12.5rem;
  }

  .card3 {
    background-image: url(../img/Bitmap3-tablet.jpg);
    width: 43.063rem;
    height: 12.5rem;
  }

  .foto_text_big_box_for_opasity {
    width: 43.063rem;
    height: 12.5rem;
    border-radius: 0rem;
    cursor: none;
    background-color: transparent;
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .foto_text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .foto_text > .text_h2 {
    /* width: 16.75rem;
    height: 5.875rem; */
    position: static;
    /* bottom: 22.938rem;
    left: 8.563rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--whiteColor); */
  }

  .foto_text_small_box_for_opasity {
    width: 43.063rem;
    height: 12.5rem;
    border-radius: 0.875rem;
    cursor: pointer;
    background-color: transparent;
  }

  .foto_text > .text_h2_small_box {
    position: static;
  }

  .section3 {
    max-width: 690px;
    height: 670px;
    flex-direction: column;
  }

  .section3_box {
    margin-right: 0;
    margin-bottom: 2rem;
    flex-direction: row;
  }

  .section3_box {
    /* width: 21.875rem;
    height: 25.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px; */
  }

  .section3_box h2 {
    text-align: left;
    margin: 0rem 0rem 1rem 3rem;
    /* width: 21.875rem;
    height: 1.625rem;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.625rem;
    letter-spacing: 0.313rem;
    text-align: center;
    margin-bottom: 2rem; */
  }

  .section3_box p {
    width: 27.438rem;
    height: 4.875rem;
    text-align: left;
    margin-left: 3rem;
    /* width: 21.875rem;
    height: 6.5rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    text-align: center; */
  }
}
