* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
}

header {
  max-width: 1111px;
  margin: 0 auto;
}

.index_header {
  max-width: 100%;
  height: 24px;
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.index_header nav ul {
  display: flex;
  align-items: flex-end;
}

.index_header nav ul li {
  list-style: none;
  margin-left: 42px;
}

.index_header nav ul li a {
  text-decoration: none;
}

.logo {
  width: 195px;
  height: 24px;
}

.logo img {
  width: 195px;
  height: 24px;
}

/* .section1 {
  border: 2px solid black;
  width: 1111px;
  height: 640px;
} */

@media screen and (max-width: 1111px) {
  .index_header {
    padding: 0px 40px 0px 39px;
  }
}
