* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --whiteColor: #ffffff;
}

.main-page {
  max-width: 1440px;
  border: 2px solid black;
  margin: 0 auto;
}

header {
  max-width: 1111px;
  margin: 0 auto;
}

.index_header {
  max-width: 100%;
  height: 24px;
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.index_header nav ul {
  display: flex;
  align-items: flex-end;
}

.index_header nav ul li {
  list-style: none;
  margin-left: 42px;
}

.index_header nav ul li a {
  text-decoration: none;
}

.logo {
  width: 195px;
  height: 24px;
}

.logo img {
  width: 195px;
  height: 24px;
}

.section1 {
  margin: 0 auto;
  background-image: url(../img/Group\ 64\ Copy.png);
  border: 2px solid black;
  max-width: 1111px;
  height: 640px;
}

.section1 .text_content {
  display: flex;
  flex-direction: column;
}

.text_content h1 {
  width: 33.75rem;
  height: 10.313rem;
  font-size: 3rem;
  font-weight: 500;
  color: var(--whiteColor);
}

.text_content p {
  width: 27.813rem;
  height: 4.875rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: var(--whiteColor);
}

.text_content button {
  width: 152px;
  height: 56px;
  border-radius: 8px;
  border: none;
}

.text_content > button > .button_txt {
  width: 103px;
  height: 22px;
  font-size: 15px;
  font-weight: 500;
  line-height: 21.68px;
  letter-spacing: 1px;
  text-align: left;
}

@media screen and (max-width: 1111px) {
  .index_header {
    padding: 0px 40px 0px 39px;
  }
}
